* {
    margin: 0%;
    padding: 0%;
   }
  

   .row{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 100px 0;
   }
    
   .h5{
    justify-content: left;

   }  